{% extends "base.html" %}

{% block title %}Publicaciones{% endblock %}

{% load static %}

{% block content %}
<div class="right_row">
    <div class="row">
        {% include '_post_form.html' with form=form form_title="Crear una nueva publicación" %}
    </div>

    {% if not posts %}
    <div class="no-posts-message alert alert-info">
        {% if category_query %}
            No hay publicaciones del servicio de {{ category_query }}.
        {% else %}
            No hay publicaciones disponibles.
        {% endif %}
    </div>
    {% endif %}

    {% for post in posts %}
    <div class="row border-radius">
        <div class="feed">
            <div class="post">
                <div class="feed_title">
                {% if post.author.userprofile and post.author.userprofile.profile_picture and post.author.userprofile.profile_picture.url != 'default.png' %}
                    <img src="{{ post.author.userprofile.profile_picture.url }}" alt="{{ post.author.username }}" width="200">
                {% else %}
                    <img src="{% static 'default.png' %}" alt="Default Profile Pic" width="200">
                {% endif %}
                <span><b><a href="{% url 'profile' user_id=post.author.id %}">{{ post.author }}</a></b> <br><p>{{ post.date_posted }}</p></span>    
                {% if request.user == post.author %}
                    <div class="dropdown">
                        <button class="dropbtn"><i class="fas fa-ellipsis-v"></i></button>
                        <div class="dropdown-content">
                            <a href="{% url 'delete_post' post.id %}">Eliminar</a>
                            <a href="{% url 'edit_post' post.id %}">Editar</a>
                        </div>
                    </div>
                {% else %}
                    <div class="dropdown-placeholder" style="width: 24px; height: 24px;">
                    </div>
                {% endif %}
                </div>

                <div >
                    <div class="feed_content">
                        <h3>{{ post.title }}</h3>
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" />
                        {% endif %}
                        <p>{{ post.content }}</p>
                        <h4>Calificación del servicio de<span class="post-category">{{ post.category.name }}</span></h4>
                        <div class="post-ranking">
                            {% for star in post.star_ratings %}
                                {% if star == 'full' %}
                                    <i class="fa-solid fa-star" style="color:#ffcd02;"></i>
                                {% else %}
                                    <i class="fa-regular fa-star" style="color:#ffcd02;"></i>
                                {% endif %}
                            {% endfor %}
                            <span> ({{ post.ranking }}/5)</span>
                        </div>
                    </div>
                    <div id="commentSection_{{ post.id }}" class="commentSection">
                        <form method="post">
                            {% csrf_token %}
                            <textarea name="content" class="autoExpand" rows="1" placeholder="Add a comment..."></textarea>
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <button type="submit" name="submit_comment">Comentar</button>
                        </form>
                    </div>                    
                </div>
                <div class="feed_footer">
                    <ul class="feed_footer_left">
                        <li class="{% if post.is_liked %}hover-orange selected-orange{% else %}hover-orange{% endif %}">
                            <a href="#" class="like-link" data-postid="{{ post.id }}" 
                            style="color: {% if post.is_liked %}#f0566a{% else %}#246da2{% endif %}; text-decoration: none;">
                            <i class="fa fa-heart"></i> <span class="like-count">{{ post.likes.count }}</span>
                            </a>
                        </li>                                             
                    </ul>
                    <ul class="feed_footer_right">
                        <li>
                            <a href="#commentSection_{{ post.id }}" style="color:#515365;"><li> <i class="fa-regular fa-comment"></i>{{ post.comments.count }} comentarios</li></a>
                        </li>
                    </ul>
                </div>

                <div class="existing-comments">
                    {% for comment in post.top_level_comments %}
                        <div class="comment">
                            <b>{{ comment.user.username }}</b>: <span id="commentText{{ comment.id }}">{{ comment.content }}</span>
                            <!-- Añadir enlace para responder al comentario -->
                            <a href="#replyToComment_{{ comment.id }}" class="reply-link">Responder</a>
                            {% if request.user == comment.user or request.user == comment.post.author %}
                                <div class="dropdown">
                                    <button class="dropbtn" ><i class="fas fa-ellipsis-v" style="font-size: 13px;"></i></button>
                                    <div class="dropdown-content">
                                        <a href="{% url 'delete_comment' comment.id %}">Eliminar</a>
                                        {% if request.user == comment.user %}
                                            <a href="#" onclick="event.preventDefault(); showEditForm({{ comment.id }});">Editar</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            <!-- Formulario de respuesta, oculto inicialmente -->
                            <div id="replyToComment_{{ comment.id }}" style="display: none;">
                                <form method="post">
                                    {% csrf_token %}
                                    <textarea name="content" placeholder="Escribe una respuesta..."></textarea>
                                    <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <button type="submit" class="reply_button" name="submit_comment">
                                        <i class="fa-solid fa-circle-check fa-xl" style="color: #246da2;"></i>
                                    </button>
                                </form>
                            </div>
                            <!-- Formulario de edición oculto -->
                            <div id="editForm{{ comment.id }}" style="display:none;">
                                <textarea id="editContent{{ comment.id }}">{{ comment.content }}</textarea>
                                <button onclick="submitEdit({{ comment.id }})">Guardar</button>
                            </div>
                        </div>

                            <!-- Sección de respuestas al comentario -->
                            <div class="replies">
                                {% for reply in comment.get_all_replies %}
                                    <div class="reply">
                                        <!-- Mostrar a quién se está respondiendo en la respuesta -->
                                        <b>{{ reply.user.username }}</b> a <b>{{ reply.parent.user.username }}</b>: <span id="commentText{{ reply.id }}">{{ reply.content }}</span>

                                        <!-- Añadir enlace para responder a la respuesta -->
                                        <a href="{% url 'delete_comment' comment.id %}" class="reply-link">Responder</a>

                                        {% if request.user == reply.user or request.user == reply.parent.user or request.user == reply.post.author %}
                                            <div class="dropdown">
                                                <button class="dropbtn" ><i class="fas fa-ellipsis-v" style="font-size: 13px;"></i></button>
                                                <div class="dropdown-content">
                                                    <a href="{% url 'delete_reply' reply.id %}">Eliminar</a>
                                                    {% if request.user == reply.user %}
                                                        <a href="#" onclick="event.preventDefault(); showEditForm({{ reply.id }});">Editar</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    
                                        <!-- Formulario de respuesta para la respuesta, oculto inicialmente -->
                                        <div id="replyToReply_{{ reply.id }}" style="display: none;">
                                            <form method="post">
                                                {% csrf_token %}
                                                <textarea name="content" placeholder="Escribe una respuesta a la respuesta..."></textarea>
                                                <input type="hidden" name="parent_id" value="{{ reply.id }}">
                                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                                <button type="submit" class="reply_button" name="submit_comment">
                                                    <i class="fa-solid fa-circle-check fa-xl" style="color: #246da2;"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <!-- Formulario de edición oculto -->
                                        <div id="editForm{{ reply.id }}" style="display:none;">
                                            <textarea id="editContent{{ reply.id }}">{{ reply.content }}</textarea>
                                            <button onclick="submitEdit({{ reply.id }})">Guardar</button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                    {% endfor %}
                </div>

            </div>  
        </div>
    </div>
    {% endfor %}
</div>

<script>
    document.getElementById("id_image").addEventListener("change", function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById("image-preview-src").src = e.target.result;
                document.getElementById("image-preview").style.display = "block";
            }
            reader.readAsDataURL(file);
        } else {
            document.getElementById("image-preview").style.display = "none";
        }
    });

    document.addEventListener('input', function (e) {
        if (e.target.tagName.toLowerCase() === 'textarea' && e.target.classList.contains('autoExpand')) {
            e.target.style.height = 'auto';
            e.target.style.height = e.target.scrollHeight + 'px';
        }
    }, false);    

    //manejo de likes
    document.addEventListener("DOMContentLoaded", function() {
        const likeLinks = document.querySelectorAll(".like-link");
        likeLinks.forEach(link => {
            link.addEventListener("click", function(e) {
                e.preventDefault();
                const postID = e.currentTarget.dataset.postid;
                fetch(`/toggle_like/${postID}/`)
                    .then(response => response.json())
                    .then(data => {
                        const likesCount = data.likes_count;
                        const isLiked = data.is_liked; // Esta variable indica si el usuario actual dio "like".
                        const heartElement = link.querySelector(".fa-heart");
                        const likeCountElement = link.querySelector(".like-count");
    
                        // Actualizamos el número de "likes".
                        likeCountElement.textContent = likesCount;
    
                        // Cambiamos el color del corazón según si el usuario actual ha dado "like".
                        if (isLiked) {
                            heartElement.style.color = "#f0566a";
                            likeCountElement.style.color = "#f0566a";
                            heartElement.classList.add("selected-orange");
                        } else {
                            heartElement.style.color = "#246da2";
                            likeCountElement.style.color = "#246da2";
                            heartElement.classList.remove("selected-orange");
                        }
                    });
            });
        });
    });

    //manejo de estrellas
    document.addEventListener('DOMContentLoaded', function() {
        let stars = document.querySelectorAll('.star-rating .fa-regular');
        let currentRating = 0; // Mantendrá la puntuación actual seleccionada
    
        function updateStars(rating) {
            stars.forEach(function(star, index) {
                if (index < rating) {
                    star.classList.remove('fa-regular');
                    star.classList.add('fa-solid');
                } else {
                    star.classList.add('fa-regular');
                    star.classList.remove('fa-solid');
                }
            });
        }
    
        stars.forEach(function(star, index) {
            star.addEventListener('click', function() {
                currentRating = index + 1; // Establece la calificación actual
                document.getElementById('id_ranking').value = currentRating; // Actualiza el campo oculto
                updateStars(currentRating); // Actualiza las estrellas
            });
            star.addEventListener('mouseover', function() {
                updateStars(index + 1); // Actualiza las estrellas mientras se pasa por encima
            });
            star.addEventListener('mouseout', function() {
                updateStars(currentRating); // Restaura la calificación actual cuando el ratón sale
            });
        });
    });
    
    //manejo de comentarios
    document.addEventListener("DOMContentLoaded", function() {
        const replyLinks = document.querySelectorAll(".reply-link");
        replyLinks.forEach(link => {
            link.addEventListener("click", function(e) {
                e.preventDefault();
                const replyFormId = e.target.getAttribute('href');
                const replyForm = document.querySelector(replyFormId);
                replyForm.style.display = replyForm.style.display === 'none' ? 'block' : 'none';
            });
        });
    });

    //manejo de envio de formulario de post
    document.getElementById('postForm').addEventListener('submit', function(e) {
        var rankingValue = document.getElementById('id_ranking').value;
        var errorDiv = document.getElementById('rankingError');
    
        if (!rankingValue) {
            e.preventDefault(); // Evita que el formulario se envíe
            errorDiv.style.display = 'block'; // Muestra el mensaje de error
        } else {
            errorDiv.style.display = 'none'; // Oculta el mensaje de error si está todo bien
        }
    });

    //edicion comentarios
    function showEditForm(commentId) {
        var editForm = document.getElementById('editForm' + commentId);
        editForm.style.display = 'block';
    }
    
    function submitEdit(commentId) {
        var newContent = document.getElementById('editContent' + commentId).value;
    
        fetch("{% url 'edit_comment' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: 'comment_id=' + commentId + '&content=' + encodeURIComponent(newContent)
        })
        .then(response => response.json())
        .then(data => {
            // Actualizar la interfaz de usuario con el nuevo contenido del comentario
            var commentTextElement = document.getElementById('commentText' + commentId);
            if (commentTextElement) {
                commentTextElement.textContent = newContent;
            }
            document.getElementById('editForm' + commentId).style.display = 'none';
        })
        .catch(error => console.error('Error:', error));
    }
    
    
</script>
{% endblock %}