{% extends 'base.html' %} {% block content %}
<h2 class="register-title">Login</h2>
<form method="post" class="register-form">
  {% csrf_token %}
  <div class="form-group">
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  <div class="form-group">
    {{ form.password.label_tag }} {{ form.password }}
  </div>

  {% if form.errors %}
  <p>Your form has errors: {{ form.errors }}</p>
  {% endif %}

  <button type="submit" class="register-button">Login</button>
</form>
<div class="form-footer">
  <a href="{% url 'register' %}">Don't have an account? Register here</a>
</div>
<div class="form-footer">
  <a href="{% url 'password_reset' %}">Forgot Password?</a>
</div>
{% endblock %}