{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="right_row">
  <div class="profile-info">
    <h2 class="profile-title">{{ profile_user.username }}</h2>
    {% if profile_user.userprofile and profile_user.userprofile.profile_picture and profile_user.userprofile.profile_picture.url != 'default.png' %}
      <img src="{{ profile_user.userprofile.profile_picture.url }}" onerror="this.onerror=null;this.src='{% static 'default.png' %}';" alt="{{ profile_user.username }}" width="200">
    {% else %}
      <img src="{% static 'default.png' %}" alt="Default Profile Pic" width="200">
    {% endif %}
    <p><strong>Nombre de usuario:</strong> {{ profile_user.username }}</p>
    <p><strong>Correo electrónico:</strong> {{ profile_user.email }}</p>
    <p><strong>Nombres:</strong> {{ profile_user.first_name }}</p>
    <p><strong>Apellidos:</strong> {{ profile_user.last_name }}</p>
    <p><strong>Fecha de nacimiento:</strong> {{ profile_user.userprofile.date_of_birth }}</p>
    <div class="form-footer" style="margin-top: 30px;">
      <a class="ancla_button" href="{% url 'update_profile' %}">Actualizar perfil</a>
    </div>
  </div>
</div>
{% endblock %}