{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}NeivaNet{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>

<body>
  <main>
    <div class="limiter">
      <div class="container-login100" style="background-image: url('/static/img/bg-01.jpg');">
        <div class="wrap-login100">

          <form method="post" id="registerForm" class="register-form">
            {% csrf_token %}

            <span class="login100-form-logo">
              <i class="fa-solid fa-ethernet icon"></i>
            </span>

            <span class="login100-form-title">
              Register
            </span>

            <div class="form-group">
              {{ form.username.label_tag }} <input type="text" name="username" maxlength="30">
            </div>

            <div class="form-group">
              {{ form.email.label_tag }} <input type="email" name="email" maxlength="100">
            </div>

            <div class="form-group">
              {{ form.password1.label_tag }} <input type="password" name="password1" maxlength="50">
            </div>

            <div class="form-group">
              {{ form.password2.label_tag }} <input type="password" name="password2" maxlength="50">
            </div>

            {% if form.errors %}
            <p>{{ form.errors }}</p>
            {% endif %}

            <div class="container-login100-form-btn">
              <button type="submit" class="login100-form-btn" id="registerButton">
                Register
              </button>
            </div>

          </form>
          <div class="form-footer">
            <a href="{% url 'login' %}">Already have an account? Login here</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Modal de Confirmación -->
  <div id="modal" class="modal" style="display: none">
    <div class="modal-content">
        <h2>Por favor, revisa tu correo para confirmar tu registro.</h2>
    </div>
</div>

<script>
    var modal = document.getElementById("modal");
    var registerButton = document.getElementById('registerButton');

    registerButton.addEventListener('click', function(event) {
        modal.style.display = "block";
        setTimeout(function() {
            window.location.href = "{% url 'login' %}";
        }, 5000); // Redirige después de 5 segundos
    });
</script>
</body>

</html>