{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}NeivaNet{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header>
        <!-- Aquí puedes poner una barra de navegación o cualquier otro elemento de cabecera -->
        <a href="{% url 'profile' %}"><i class="fas fa-home"></i> Home</a>
        <a href="{% url 'posts' %}"><i class="fas fa-newspaper"></i> Posts</a>
        <a href="{% url 'login' %}"><i class="fas fa-sign-out-alt"></i> Log out</a>
    </header>
    

    <main>
        {% block content %}
        <!-- El contenido específico de cada página irá aquí -->
        {% endblock %}
    </main>

    <footer>
        <!-- Aquí puedes poner un pie de página -->
    </footer>

</body>
</html>