{% extends "base.html" %}

{% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form" method="post">
                {% csrf_token %}
                <span class="login100-form-title">Set new password</span>
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">Change password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}